* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #164863;
  --blue: #427d9d;
  --blue-ocean: #9bbec8;
  --light-blue: #ddf2fd;
}

body {
  font-family: "Quicksand", sans-serif;
  color: var(--blue);
}

.register-page,
.login-page {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.register-input,
.login-input {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-input input,
.login-input input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-input button,
.login-input button {
  background-color: var(--blue);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-input button:hover,
.login-input button:hover {
  background-color: var(--dark-blue);
}

/* navigation */

._dot {
  color: rgb(248, 57, 70);
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border-bottom: 1px solid rgb(190, 190, 190);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.navigation nav ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
  gap: 2em;
}

nav {
  display: flex;
}

.navigation nav a {
  color: var(--blue);
  text-decoration: none;
}

.navigation ul li a:hover {
  text-decoration: underline;
  color: var(--dark-blue);
}

.navigation nav .btn-login {
  padding: 9px 20px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: var(--blue);
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navigation nav .btn-login:hover {
  background-color: var(--dark-blue);
}

/* thread */
.thread-container .threads,
.leaderBoard-container .leaderBoards,
.addThread-container .addThread {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: start;
  gap: 2em;
  background-color: white;
  padding: 30px;
  margin-top: 50px;
}

.thread-container .threads header div {
  display: flex;
}

.thread-container .threads,
.leaderBoard-container .leaderBoards,
.addThread-container .addThread {
  min-height: 93vh;
}

.thread-container .threads header div p {
  margin: 0px 5px;
}

.thread-container,
.leaderBoard-container,
.addThread-container {
  min-height: 93vh;
  background-color: #f0f0f0;
}

.thread-item__body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.thread-item__body-inner {
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.thread-item__footer {
  display: flex;
  gap: 10px;
}

.thread-item__footer button {
  color: var(--blue);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.thread-item__footer button svg {
  font-size: 17px;
}

.thread-item__footer p svg {
  font-size: 17px;
}

.thread-item__footer button span {
  font-size: 15px;
}

/* Tambahan CSS untuk ThreadBodyDetail */

.thread-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0px;
  border-bottom: 1px solid rgb(152, 151, 151);
}

.thread-item__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thread-item__header span {
  max-width: max-content;
  padding: 4px 8px;
  border: 1px solid var(--blue);
  border-radius: 5px;
}

.thread-item__footer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.vote-buttons {
  display: flex;
  gap: 15px;
}

.vote-txt {
  padding-left: 4px;
}

.vote-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.vote-button:hover {
  color: var(--dark-blue);
}

.thread-item__footer p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.avatar {
  width: 23px;
  height: 23px;
  display: flex;
  border-radius: 100%;
  margin: auto 0px;
}

/* End of Tambahan CSS untuk ThreadBodyDetail */

/*  */

/* LeaderBoard */
.leaderBoard-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.leaderBoard-list header p {
  font-weight: bold;
}

.leaderBoard-list header,
.leaderBoard-item {
  min-width: 700px;
}

.leaderBoard-list header,
.leaderBoard-item {
  display: flex;
  justify-content: space-between;
}

.leaderBoardItem-Info {
  display: flex;
  gap: 10px;
}

.available {
  margin: 10px 0px;
}

/*  */

/* Comments */
/* CSS untuk InputComment */

.container-input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-width: 750px;
  margin: 0px auto;
}

.input__field {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 50px;
  max-height: 150px;
  overflow-y: auto;
  outline: none;
  border-radius: 5px;
}

.input__field:focus {
  border-color: #007bff;
}

.container-input button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-input button:hover {
  background-color: #0056b3; /* Warna saat tombol dihover */
}

/* comment list */
.comment-list {
  min-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.comment-list header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._profile {
  display: flex;
  justify-content: center;
  gap: 10px;
}
/* End of CSS untuk InputComment */

/*  */

.loading {
  position: sticky;
  top: 0;
  z-index: 999;
}

/*  */
/* Dalam file CSS Anda atau di bagian style komponen lainnya */

.add-thread {
  position: sticky;
  bottom: 0;
  border: none;
  cursor: pointer;
  padding-bottom: 30px;
  margin-left: 30px;
}
/*  */

/* category */
.category-list {
  display: flex;
  gap: 10px;
  margin: 5px 0px;
}

.category {
  max-width: max-content;
  padding: 4px 8px;
  border: 1px solid var(--blue);
  border-radius: 5px;
  background-color: white;
  color: var(--blue);
  cursor: pointer;
}
/*  */
